body {
  height: 100%;
  width: 100%;
}

#animation_container {
  position: relative;
  z-index: 3;
}

video {
  width:100vw;
  height:auto;
  position:absolute;
  z-index: 1;
  margin: auto;
  right:0;
  left:0;
}
